<div class="databox databox-lg radius-bordered databox-shadowed" style="height: auto;">
	<div class="databox-left bg-white" style="height: auto;">
		<div class="databox-sparkline">
			<img style="width: 60px;margin-top: -13px;" ng-src="{{logo}}"/>
		</div>
	</div>
	<div class="databox-right bordered-thick bordered-palegreen bg-white" style="height: auto;">
		<span class="databox-number darkgray" style="font-size: 15px;margin-top: -8px;">{{title ? title : 'Notification Title'}}</span>
		<div class="databox-text darkgray" style="margin-top: -2px;word-wrap: break-word">{{message? message : 'Notfication Message'}}</div>
		<div style="margin-top: 18px" class="databox-text darkgray bordered-top bordered-palegreen">{{protocol}}://{{subdomain}}.{{maindomain}}</div>
	</div>
</div>