[data-notify="progressbar"] {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
}
.logout {
    color: #fff !important;
    font-size: 18px;
    margin-top: 13px;
}
.logout:hover {
    cursor: pointer;
}
.chromeIcon {
    width: 70px;
}
.firefoxIcon {
    width: 60px;
}
.appoptions {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 16px;
    color: #CCCCCC;
    z-index: 9;
}
.appoptions:hover {
    cursor: pointer;
}
.signup_custom .form-control, .login_custom .form-control {
    font-size: 11px !important;
}
.addParam {
    margin-left: 10px;
    font-size: 17px;
}
.addParam:hover {
    cursor: pointer;
}
#registration-form label{
    font-size: 12px !important;
}
    /* Absolute Center Spinner */
.pushgap_loading {
    position: absolute;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.6);
    left: 0px;
    top: 0px;
}
.pushgap_loading .loading_icon {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    display: block;
    margin-top: 200px;
}
.navbar .navbar-inner .navbar-header .navbar-account .account-area>li .dropdown-menu li:hover {
    background: #a0d468;
    cursor: pointer;
}
.navbar .navbar-inner .navbar-header .navbar-account .account-area>li .dropdown-menu li a:hover {
    background-color: #a0d468;
}
.forgotpassword:hover , .gotologin:hover {
    cursor: pointer;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #e2e2e4;
    border-color: #ccc;
}
.form-control[disabled]:hover, .form-control[readonly]:hover, fieldset[disabled] .form-control:hover {
    cursor: not-allowed;
    background-color: #e2e2e4;
    border-color: #ccc;
}
label {
    font-size: 12px !important;
    color: #333 !important;font-weight: 600;
}
.page-sidebar .sidebar-menu li:not(.open):hover:before {
    background: transparent !important;
}
.page-sidebar .sidebar-menu li:before {
    background-color: transparent;
}