<!DOCTYPE html>
<html ng-app="portal">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title><%- appName %> - <%- workspaceName %></title>
	<link href="/resources/styles/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/resources/styles/css/font-awesome.min.css" rel="stylesheet" />
	<link href="/resources/styles/css/weather-icons.min.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/earlyaccess/droidarabickufi.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300"
		  rel="stylesheet" type="text/css">
	<link href="/resources/styles/css/beyond.min.css" rel="stylesheet" />
	<link href="/resources/styles/css/demo.min.css" rel="stylesheet" />
	<link href="/resources/styles/css/typicons.min.css" rel="stylesheet" />
	<link href="/resources/styles/css/animate.min.css" rel="stylesheet" />
	<link href="/resources/styles/css/skins/teal.min.css" rel="stylesheet" />
	<link href="/resources/styles/css/app.css" rel="stylesheet" />
	<script>
		var tenant = {};
		var app = {};
		tenant.server = {};
		tenant.workspace = {};
		tenant.workspace.id = <%- JSON.stringify(workspaceId) %>;
		tenant.workspace.name = <%- JSON.stringify(workspaceName) %>;
		tenant.workspace.subscribedPlan = <%- JSON.stringify(subscribedPlan) %>;
		tenant.server.protocol = <%- JSON.stringify(protocol) %>;
		tenant.server.domain = <%- JSON.stringify(domain) %>;
		tenant.server.host = <%- JSON.stringify(host) %>;
		tenant.server.api = <%- JSON.stringify(api) %>;
		app.name = <%- JSON.stringify(appName) %>;
	</script>
	<script src="/resources/js/lib/jquery.min.js"></script>
	<script src="/resources/js/lib/bootstrap.js"></script>
	<script src="/resources/js/lib/bootbox.min.js"></script>
	<script src="/resources/js/lib/underscore-min.js"></script>
	<script src="/resources/js/lib/bootstrap-notify.min.js"></script>
	<script src="/resources/js/lib/angular.min.js"></script>
	<script src="/resources/js/lib/angular-ui-router.min.js"></script>
	<script src="/resources/js/angular/modules/helpers/app.js"></script>
	<script src="/resources/js/angular/modules/portal/app.js"></script>
	<script src="/resources/js/angular/modules/portal/services/auth.service.js"></script>
	<script src="/resources/js/angular/modules/portal/services/applications.service.js"></script>
	<script src="/resources/js/angular/modules/portal/services/subscriptions.service.js"></script>
	<script src="/resources/js/angular/modules/portal/services/user.service.js"></script>
	<script src="/resources/js/angular/modules/portal/services/segmentation.service.js"></script>
	<script src="/resources/js/angular/modules/portal/directives/preview.notification.directive.js"></script>
	<script src="/resources/js/angular/modules/portal/controllers/login.controller.js"></script>
	<script src="/resources/js/angular/modules/portal/controllers/invite.controller.js"></script>
	<script src="/resources/js/angular/modules/portal/controllers/forgotpassword.controller.js"></script>
	<script src="/resources/js/angular/modules/portal/controllers/resetpassword.controller.js"></script>
	<script src="/resources/js/angular/modules/portal/controllers/console.controller.js"></script>
	<script src="/resources/js/angular/modules/portal/controllers/console.dashboard.profile.controller.js"></script>
	<script src="/resources/js/angular/modules/portal/controllers/console.dashboard.invites.controller.js"></script>
	<script src="/resources/js/angular/modules/portal/controllers/console.dashboard.usermanagement.controller.js"></script>
	<script
			src="/resources/js/angular/modules/portal/controllers/console.dashboard.applications.home.controller.js"></script>
	<script
			src="/resources/js/angular/modules/portal/controllers/console.dashboard.applications.app.controller.js"></script>
	<script
			src="/resources/js/angular/modules/portal/controllers/console.dashboard.applications.app.dashboard.controller.js"></script>
	<script src="/resources/js/angular/modules/portal/controllers/console.dashboard.applications.app.pushnotification.controller.js"></script>
	<script src="/resources/js/angular/modules/portal/controllers/console.dashboard.applications.app.clientcode.controller.js"></script>
	<script src="/resources/js/angular/modules/portal/controllers/console.dashboard.applications.app.settings.controller.js"></script>
	<script src="/resources/js/angular/modules/portal/controllers/console.dashboard.applications.app.notifications.controller.js"></script>
	<script src="/resources/js/angular/modules/portal/controllers/console.dashboard.applications.app.segmentation.controller.js"></script>
</head>
<body>
<ui-view></ui-view>
<div class="pushgap_loading" ng-show="loading > 0">
		<img class="loading_icon" src="/resources/styles/img/loading.gif">
</div>
</body>
</html>