<!DOCTYPE html>
<html ng-app="action">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link href="/resources/styles/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/resources/styles/css/font-awesome.min.css" rel="stylesheet" />
	<link href="/resources/styles/css/weather-icons.min.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/earlyaccess/droidarabickufi.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300"
		  rel="stylesheet" type="text/css">
	<link href="/resources/styles/css/beyond.min.css" rel="stylesheet" />
	<link href="/resources/styles/css/demo.min.css" rel="stylesheet" />
	<link href="/resources/styles/css/typicons.min.css" rel="stylesheet" />
	<link href="/resources/styles/css/animate.min.css" rel="stylesheet" />
	<link href="/resources/styles/css/skins/teal.min.css" rel="stylesheet" />
	<link href="/resources/styles/css/app.css" rel="stylesheet" />
	<script>
		var tenant = {};
		var app = {};
		tenant.server = {};
		tenant.server.protocol = <%- JSON.stringify(protocol) %>;
		tenant.server.domain = <%- JSON.stringify(domain) %>;
		tenant.server.host = <%- JSON.stringify(host) %>;
		tenant.server.api = <%- JSON.stringify(api) %>;
		app.name = <%- JSON.stringify(appName) %>;
	</script>
	<script src="/resources/js/lib/jquery.min.js"></script>
	<script src="/resources/js/lib/bootstrap.js"></script>
	<script src="/resources/js/lib/bootstrap-notify.min.js"></script>
	<script src="/resources/js/lib/angular.min.js"></script>
	<script src="/resources/js/lib/angular-ui-router.min.js"></script>
	<script src="/resources/js/angular/modules/helpers/app.js"></script>
	<script src="/resources/js/angular/modules/action/app.js"></script>
	<script src="/resources/js/angular/modules/action/controllers/signup.controller.js"></script>
	<script src="/resources/js/angular/modules/action/controllers/emailconfirmation.controller.js"></script>
</head>
<body>
<ui-view></ui-view>
</body>
</html>