<div class="row">
	<div class="col-lg-12 col-sm-12 col-xs-12">
		<div class="well">
			<button ng-click="copyScript();" class="btn btn-palegreen btn-xs" style="margin-bottom: 10px">Copy Script</button>
			<div class="well well-lg" style="background: #f2f2f2;border: 1px solid #ccc;">
				<p id="clientCode">
					&lt;script src="{{tenant.server.sdk}}/pushgap_client_sdk.js?domain={{currentApplication.domain}}&application_id={{currentAppId}}" async onload="initPushGap();"&gt;
					<br>
					&lt;/script&gt;
					<br>
					&lt;script&gt;
					<br>
					function initPushGap() {
					<br>
					&nbsp;&nbsp;&nbsp;&nbsp;pushgap.setLogo("{{currentApplication.logo}}");
					<br>
					&nbsp;&nbsp;&nbsp;&nbsp;pushgap.start();
					<br>
					}
					<br>
					&lt;/script&gt;
				</p>
			</div>
		</div>

	</div>

</div>




<div class="row">

	<div class="col-lg-12 col-sm-12 col-xs-12">
		<div class="well">
			<h5>Installation Instructions</h5>
			<ul>
				<li>Click on "copy script" button to copy your client script code. </li>
				<li>Include it on the your webpages where you would like to ask for the user permission. </li>
				<li><span class="sky">SET CUSTOM LOGO:</span> use the api <b>pushgap.setLogo("url");</b> to setup your custom logo . By default it is your application logo provided in the settings.</li>
				<li><span class="sky">SET CUSTOM MESSAGE:</span> use the api <b>pushgap.setPermissionMessage("your message");</b> if you want to override the default message with your own custom message.</li>
				<li><span class="sky">SET CUSTOM ALLOW TEXT:</span> use the api <b>pushgap.setAllowButtonText("custom text");</b> to setup your custom logo . By default it is set as "ALLOW".</li>
				<li><span class="sky">SET CUSTOM DISALLOW TEXT:</span> use the api <b>pushgap.setDisallowButtonText("custom text");</b> to setup your custom logo . By default it is set as "NO THANKS".</li>
				<li><span class="sky">NOTE:</span> All these api's provided must be called before calling <b>pushgap.start();</b></li>
			</ul>
		</div>
	</div>


	<div class="col-lg-12 col-sm-12 col-xs-12">
		<div class="well">
			<h5>Sample Snippet</h5>
			<p>
				&lt;script src="{{tenant.server.sdk}}/pushgap_client_sdk.js?domain={{currentApplication.domain}}&application_id={{currentAppId}}" async onload="initPushGap();"&gt;
				<br>
				&lt;/script&gt;
				<br>
				&lt;script&gt;
				<br>
				function initPushGap() {
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;pushgap.setLogo("{{currentApplication.logo}}");
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;pushgap.setPermissionMessage("We Would like to send you the latest updates with our notification service. please allow us to do that.");
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;pushgap.setAllowButtonText("ACCEPT");
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;pushgap.setDisallowButtonText("DENY");
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;pushgap.start();
				<br>
				}
				<br>
				&lt;/script&gt;
			</p>
		</div>
	</div>




</div>