<div class="main-container container-fluid">
	<div class="page-container">
		<div class="page-sidebar" id="sidebar">
			<div class="sidebar-header-wrapper">
				<input type="text" class="searchinput" disabled/>
			</div>
			<ul class="nav sidebar-menu">
				<li ui-sref-active="active">
					<a ui-sref=".applications">
						<i class="menu-icon fa fa-th"></i>
						<span class="menu-text"> Applications </span>
					</a>
				</li>
				<li ui-sref-active="active" ng-if="user.role == 'owner'">
					<a ui-sref=".invites">
						<i class="menu-icon fa fa-envelope"></i>
						<span class="menu-text"> Invites </span>
					</a>
				</li>
				<li ui-sref-active="active" ng-if="user.role == 'owner'">
					<a ui-sref=".usermanagement">
						<i class="menu-icon fa fa-list-ul"></i>
						<span class="menu-text"> User Management </span>
					</a>
				</li>
				<li ui-sref-active="active">
					<a ui-sref=".profile">
						<i class="menu-icon fa fa-user"></i>
						<span class="menu-text"> My Profile </span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<ui-view></ui-view>