<div class="row">
	<div class="col-lg-12 col-sm-12 col-xs-12">
		<h5 class="">Subscriptions</h5>
	</div>
</div>
<div class="row">

	<div class="col-lg-6 col-sm-6 col-xs-12">
		<div class="col-lg-4 col-sm-4 col-xs-6">
			<div class="databox databox-lg databox-vertical databox-inverted bg-white databox-shadowed" style="border-radius: 5px">
				<div class="databox-top">
					<div class="databox-piechart">
						<div class="easyPieChart block-center" style="width: 100px; height: 100px; line-height: 100px;">
							<img class="chromeIcon" ng-src="{{currentApplication.logo}}" />
						</div>
					</div>
					<div class="databox-bottom no-padding text-align-center">
						<span class="databox-number lightcarbon no-margin">{{subscriptionsCount.totalSubscriptions}}</span>
						<span class="databox-text lightcarbon no-margin">Total Subscriptions</span>

					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4 col-sm-4 col-xs-6">
			<div class="databox databox-lg databox-vertical databox-inverted bg-white databox-shadowed" style="border-radius: 5px">
				<div class="databox-top">
					<div class="databox-piechart">
						<div class="easyPieChart block-center" style="width: 100px; height: 100px; line-height: 100px;">
							<img class="chromeIcon" src="/resources/styles/img/chrome.png" />
						</div>
					</div>
				</div>
				<div class="databox-bottom no-padding text-align-center">
					<span class="databox-number lightcarbon no-margin">{{subscriptionsCount.chromeSubscriptions}}</span>
					<span class="databox-text lightcarbon no-margin">Chrome</span>

				</div>
			</div>
		</div>

		<div class="col-lg-4 col-sm-4 col-xs-6">
			<div class="databox databox-lg databox-vertical databox-inverted bg-white databox-shadowed" style="border-radius: 5px">
				<div class="databox-top">
					<div class="databox-piechart">
						<div class="easyPieChart block-center" style="width: 100px; height: 100px; line-height: 100px;">
							<img class="firefoxIcon" src="/resources/styles/img/firefox.png" />
						</div>
					</div>
				</div>
				<div class="databox-bottom no-padding text-align-center">
					<span class="databox-number lightcarbon no-margin">{{subscriptionsCount.firefoxSubscriptions}}</span>
					<span class="databox-text lightcarbon no-margin">Firefox</span>

				</div>
			</div>
		</div>

	</div>

</div>
<div class="row" ng-if="lastNotification">
	<div class="col-lg-12 col-sm-12 col-xs-12">
		<h5 class="">Recent Notification</h5>
	</div>
</div>

<div class="row" ng-if="lastNotification">


	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
		<div class="databox databox-xxlg databox-vertical databox-shadowed bg-white radius-bordered padding-5" style="height: 150px !important;">
			<div class="databox-bottom">
				<div class="databox-row row-12">
					<div class="databox-cell cell-7 padding-5">
						<h6 style="font-size: 11px" class="sky">Sent On: <format-date date="{{lastNotification.created_at}}"></format-date></h6>
						<h4 style="font-size: 15px">{{lastNotification.title}}</h4>
						<h6 style="font-size: 11px">{{lastNotification.message}}</h6>
					</div>
					<div class="databox-cell cell-5 text-center no-padding-left padding-bottom-30">
						<div class="databox-row row-2 bordered-bottom bordered-ivory padding-10">
							<span class="badge badge-palegreen badge-empty pull-left margin-5"></span>
							<span class="databox-text darkgray pull-left no-margin hidden-xs">Delivered</span>
							<span class="databox-text darkgray pull-right no-margin uppercase">{{lastNotification.receive_count}}</span>
						</div>

						<div class="databox-row row-2 bordered-bottom bordered-ivory padding-10">
							<span class="badge badge-azure badge-empty pull-left margin-5"></span>
							<span class="databox-text darkgray pull-left no-margin hidden-xs">Clicked</span>
							<span class="databox-text darkgray pull-right no-margin uppercase">{{lastNotification.click_count}}</span>
						</div>

						<div class="databox-row row-2 bordered-bottom bordered-ivory padding-10">
							<span class="badge badge-orange badge-empty pull-left margin-5"></span>
							<span class="databox-text darkgray pull-left no-margin hidden-xs">Click Rate</span>
							<span class="databox-text darkgray pull-right no-margin uppercase">{{lastNotification.click_rate}} %</span>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>




</div>