<div class="row">


	<div class="col-lg-12 col-sm-12 col-xs-12">
		<div class="widget bordered-top">
			<div class="widget-body">
				<div class="row">
					<div class="col-lg-6 col-sm-6 col-xs-12">
						<div>
							<form role="form">
								<div class="form-group">
									<label for="exampleInputEmail1">Notification Title</label>
									<input type="text" class="form-control" placeholder="Notification Title" ng-model="notification.title">
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">Notification Message</label>
									<textarea class="form-control" placeholder="Notification Message" ng-model="notification.message"></textarea>
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">Target Location</label>
									<input type="text" placeholder="Notification Target url" class="form-control" ng-model="notification.target_location">
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">TTL (Time To Live in Seconds)</label>
									<input type="text" placeholder="Notification Expiry Time" class="form-control" ng-model="notification.ttl">
								</div>


								<div class="form-group" style="background: #f2f2f2;border: 1px solid #e2e2e4;padding: 20px;border-radius: 5px">
									<label for="exampleInputPassword1">Subscribers</label>
									<div class="row">
										<div class="col-lg-4 col-sm-4 col-xs-4">
											<div class="radio">
												<label>
													<input value="all" ng-model="notification.segmentation.type" type="radio" name="subscription_list">
													<span class="text">All Subscribers</span>
												</label>
											</div>
										</div>
										<div class="col-lg-4 col-sm-4 col-xs-4">
											<div class="radio">
												<label>
													<input value="existing_segment" ng-model="notification.segmentation.type" type="radio" name="subscription_list">
													<span class="text">Use Segmentation</span>
												</label>
											</div>
										</div>
										<div class="col-lg-4 col-sm-4 col-xs-4">
											<div class="radio">
												<label>
													<input value="custom_segment" ng-model="notification.segmentation.type" type="radio" name="subscription_list">
													<span class="text">Custom Segment</span>
												</label>
											</div>
										</div>
									</div>
									<div class="row" ng-if="notification.segmentation.type == 'existing_segment'">
										<div class="col-lg-8 col-sm-8 col-xs-12">
											<select class="form-control" ng-model="notification.segmentation.segment_id" ng-options="segment._id as segment.name for segment in segments">
												<option value="">Select</option>
											</select>
										</div>
									</div>

									<div class="row" ng-if="notification.segmentation.type == 'custom_segment'" style="margin-top: 10px">
										<div class="col-lg-12 col-sm-12 col-xs-12">
											<button class="btn btn-blue btn-xs" ng-click="addCondition(notification.segmentation);">Add Condition</button>
											<button style="float: right" class="btn btn-blue btn-xs btn-palegreen" ng-click="getSegmentSubscriptionCount(notification.segmentation);" ng-if="notification.segmentation.definition.conditions.length > 0">Get Subscription Count</button>
										</div>
									</div>
									<div class="row" ng-if="notification.segmentation.type == 'custom_segment'" ng-repeat="condition in notification.segmentation.definition.conditions track by $index" style="margin-top: 10px">
										<div class="col-lg-12 col-sm-12 col-xs-12">
											<div class="col-lg-1 col-sm-1 col-xs-1">
												<div style="margin-top: 8px;font-weight: bold;">
													{{$index+1}}.
												</div>
											</div>
											<div class="col-lg-3 col-sm-3 col-xs-3">
												<select class="form-control" ng-model="condition.filter" ng-options="filter.id as filter.name for filter in filters" ng-change="setPossibleOperator(condition);">
												</select>
											</div>
											<div class="col-lg-3 col-sm-3 col-xs-3">
												<select ng-model="condition.operator" class="form-control" ng-options="operator.id as operator.name for operator in condition.possibleOperators">
													<option value="">Select</option>
												</select>
											</div>
											<div class="col-lg-3 col-sm-3 col-xs-3">
												<select ng-if="condition.filter != 'tags'" ng-model="condition.value" class="form-control" ng-options="value.id as value.name for value in condition.possibleValues">
													<option value="">Select</option>
												</select>
												<input type="text" class="form-control" ng-model="condition.value" ng-if="condition.filter == 'tags'">
											</div>
											<div class="col-lg-1 col-sm-1 col-xs-1">
												<button class="btn btn-xs btn-warning" ng-click="notification.segmentation.definition.conditions.splice($index, 1);" style="margin-top: 6px;">Remove</button>
											</div>
										</div>
									</div>


								</div>



								<div class="form-group">
									<label for="exampleInputPassword1">Use Custom Icon</label>
									<div>
										<label>
											<input class="checkbox-slider toggle colored-blue yesno" type="checkbox" ng-model="notification.useCustomIcon" ng-change="setNotificationIcon();">
											<span class="text">&nbsp;</span>
										</label>
									</div>

									<div ng-if="notification.useCustomIcon">
										<label>Custom Icon Url</label>
										<input type="text" class="form-control" ng-model="notification.icon">
									</div>


								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">Use Query Params</label>
									<div>
										<label>
											<input class="checkbox-slider toggle colored-blue yesno" type="checkbox" ng-model="notification.useQueryParams">
											<span class="text">&nbsp;</span>
										</label>
									</div>

									<div class="row">
										<div class="col-lg-12 col-sm-12 col-xs-12" ng-if="notification.useQueryParams">
											<div>
												<button ng-click="addQueryParam();" class="btn btn-palegreen btn-xs"><i class="fa fa-plus-circle"></i> Add Param</button>
											</div>
											<div class="col-lg-12 col-sm-12 col-xs-12" style="background: #f2f2f2;border: 1px solid #e2e2e4;margin-top: 10px" ng-if="queryParams.length > 0">
												<div ng-repeat="param in queryParams track by $index" style="margin-top: 10px">
													<div class="col-md-5">
														<input type="text" placeholder="Key" class="form-control input-sm" ng-model="param.key">
														<div class="horizontal-space"></div>
													</div>
													<div class="col-md-5">
														<input type="text" name="subject" placeholder="Value" class="form-control input-sm" ng-model="param.value">
														<div class="horizontal-space"></div>
													</div>
													<div class="col-md-2">
														<i class="fa fa-trash" ng-click="queryParams.splice($index, 1);"></i>
														<div class="horizontal-space"></div>
													</div>
												</div>
											</div>
										</div>
									</div>


								</div>





								<div class="form-group">
									<button type="submit" class="btn btn-palegreen" ng-click="pushNotificationConfirmation();" style="float: right">Push Notification</button>
									<button type="submit" class="btn btn-blue" ng-click="previewNotification();">Preview Notification</button>
								</div>

							</form>
						</div>
					</div>
					<div class="col-lg-6 col-sm-6 col-xs-12">


						<div class="widget">
							<div class="widget-body" style="background: #f2f2f2 !important;border-radius: 5px;box-shadow: none;border: 1px solid #e2e2e4;">
								<form role="form">
									<div class="form-group">
										<h5 class="">Live Preview</h5>
										<preview-notification title="notification.title" message="notification.message"
															  logo="notification.icon" protocol="tenant.server.protocol"
															  subdomain="currentApplication.domain" maindomain="tenant.server.domain"></preview-notification>
									</div>
									<div class="form-group" ng-if="getTargetLocation();">
										<label>URL to open when your subscriber clicks on the notification : </label>
										<div class="blue">{{getTargetLocation();}}</div>
									</div>
								</form>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>











<div class="modal fade bs-example-modal-sm pushNotification" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="padding-right: 15px;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">Push Notification Confirmation<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> </div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12 col-sm-12 col-xs-12">
						<div class="widget flat radius-bordered" style="margin-top: -10px;">
							<div class="widget-body">
								<div style="margin-top: -15px;">
									<form role="form">
										<div class="row">
											<div class="col-lg-12 col-sm-12 col-xs-12">
												<div class="form-title">Are You sure you want to send this notification ?</div>
											</div>
											<div class="col-lg-12 col-sm-12 col-xs-12">


												<div class="widget">
													<div class="widget-body" style="background: #f2f2f2 !important;border-radius: 5px;box-shadow: none;border: 1px solid #e2e2e4;">
														<form role="form">
															<div class="form-group">
																<h5 class="">Notification Preview</h5>
																<preview-notification title="notification.title" message="notification.message"
																					  logo="notification.icon" protocol="tenant.server.protocol"
																					  subdomain="currentApplication.domain" maindomain="tenant.server.domain"></preview-notification>
															</div>
															<div class="form-group" ng-if="getTargetLocation();">
																<label>Target Location</label>
																<div class="blue">{{getTargetLocation();}}</div>
															</div>
														</form>
													</div>
												</div>


											</div>



										</div>

										<div class="form-group">
											<button style="float: right;margin-left: 10px" type="submit" class="btn btn-blue" ng-click="pushNotification();">Yes, Confirm</button>
											<button style="float: right" class="btn btn-default" data-dismiss="modal">Cancel</button>
											<div style="clear: both"></div>
										</div>


									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>