<div class="row">

	<div class="col-lg-12 col-sm-12 col-xs-12">
		<button class="btn btn-palegreen btn-xs" ng-click="openCreateSegmentModal();">Create New Segment</button>
	</div>

</div>


<div class="row" style="margin-top: 20px">
	<div class="col-xs-12 col-md-12">
		<div class="widget">
			<div class="widget-body" style="min-height: 500px;">
				<div class="alert alert-warning fade in alert-radius-bordered alert-shadowed" ng-if="segments.length == 0">
					<button class="close" data-dismiss="alert">
					</button>
					<strong>NOTE:</strong> This Application don't have any existing segments.
				</div>
				<div class="flip-scroll" ng-if="segments.length > 0">
					<table class="table table-hover">
						<thead class="flip-content">
						<tr>
							<th>
								S.NO
							</th>
							<th>
								NAME
							</th>
							<th>
								CREATED ON
							</th>
							<th>
								VIEW DEFINITION
							</th>
							<th>
								DELETE SEGMENT
							</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="segment in segments track by $index">
							<td>
								{{$index + 1}}
							</td>
							<td>
								{{segment.name}}
							</td>
							<td>
								<format-date date="{{segment.created_at}}"></format-date>
							</td>
							<td>
								<a ng-click="viewSegment(segment);" class="btn btn-blue btn-xs black">View Definition</a>
							</td>
							<td>
								<a ng-click="deleteSegment(segment);" class="btn btn-warning btn-xs black">Delete</a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="modal fade bs-example-modal-sm newSegment" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header"> Create New Segment<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> </div>
			<div class="modal-body">
				<div class="row" style="margin-top: 10px">
					<div class="col-lg-12 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="newSegment.name" placeholder="Segment Name">
					</div>
				</div>
				<div class="row" style="margin-top: 10px;">
					<div class="col-lg-12 col-sm-12 col-xs-12">
						<button class="btn btn-blue btn-xs" ng-click="addCondition(newSegment);">Add Condition</button>
					</div>
				</div>
				<div class="row" ng-repeat="condition in newSegment.definition.conditions track by $index" style="margin-top: 10px">
					<div class="col-lg-12 col-sm-12 col-xs-12">
						<div class="col-lg-1 col-sm-1 col-xs-1">
							<div style="margin-top: 8px;font-weight: bold;">
								{{$index+1}}.
							</div>
						</div>
						<div class="col-lg-3 col-sm-3 col-xs-3">
							<select class="form-control" ng-model="condition.filter" ng-options="filter.id as filter.name for filter in filters" ng-change="setPossibleOperator(condition);">
							</select>
						</div>
						<div class="col-lg-3 col-sm-3 col-xs-3">
							<select ng-model="condition.operator" class="form-control" ng-options="operator.id as operator.name for operator in condition.possibleOperators">
								<option value="">Please Select</option>
							</select>
						</div>
						<div class="col-lg-3 col-sm-3 col-xs-3">
							<select ng-if="condition.filter != 'tags'" ng-model="condition.value" class="form-control" ng-options="value.id as value.name for value in condition.possibleValues">
								<option value="">Please Select</option>
							</select>
							<input type="text" class="form-control" ng-model="condition.value" ng-if="condition.filter == 'tags'">
						</div>
						<div class="col-lg-1 col-sm-1 col-xs-1">
							<button class="btn btn-xs btn-warning" ng-click="newSegment.definition.conditions.splice($index, 1);" style="margin-top: 6px;">Remove</button>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: 10px" ng-if="newSegment.definition.conditions.length > 0">
					<div class="col-lg-12 col-sm-12 col-xs-12">
						<button ng-click="addSegment(newSegment);" class="btn btn-blue" style="float: right;margin-left: 10px">Create Segment</button>
						<button style="float: right" class="btn btn-blue btn btn-palegreen" ng-click="getSegmentSubscriptionCount(newSegment);" ng-if="newSegment.definition.conditions.length > 0">Get Subscription Count</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade bs-example-modal-sm updateSegment" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">Segment Definition<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> </div>
			<div class="modal-body">
				<div class="row" style="margin-top: 10px">
					<div class="col-lg-12 col-sm-12 col-xs-12">
						<input type="text" class="form-control" ng-model="currentSegment.name" placeholder="Segment Name">
					</div>
				</div>
				<div class="row" style="margin-top: 10px;">
					<div class="col-lg-12 col-sm-12 col-xs-12">
						<button class="btn btn-blue btn-xs" ng-click="addCondition(currentSegment);">Add Condition</button>
					</div>
				</div>
				<div class="row" ng-repeat="condition in currentSegment.definition.conditions track by $index" style="margin-top: 10px">
					<div class="col-lg-12 col-sm-12 col-xs-12">
						<div class="col-lg-1 col-sm-1 col-xs-1">
							<div style="margin-top: 8px;font-weight: bold;">
								{{$index+1}}.
							</div>
						</div>
						<div class="col-lg-3 col-sm-3 col-xs-3">
							<select class="form-control" ng-model="condition.filter" ng-options="filter.id as filter.name for filter in filters" ng-change="setPossibleOperator(condition);">
							</select>
						</div>
						<div class="col-lg-3 col-sm-3 col-xs-3">
							<select ng-model="condition.operator" class="form-control" ng-options="operator.id as operator.name for operator in condition.possibleOperators">
								<option value="">Please Select</option>
							</select>
						</div>
						<div class="col-lg-3 col-sm-3 col-xs-3">
							<select ng-if="condition.filter != 'tags'" ng-model="condition.value" class="form-control" ng-options="value.id as value.name for value in condition.possibleValues">
								<option value="">Please Select</option>
							</select>
							<input type="text" class="form-control" ng-model="condition.value" ng-if="condition.filter == 'tags'">
						</div>
						<div class="col-lg-1 col-sm-1 col-xs-1">
							<button class="btn btn-xs btn-warning" ng-click="currentSegment.definition.conditions.splice($index, 1);" style="margin-top: 6px;">Remove</button>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: 10px" ng-if="currentSegment.definition.conditions.length > 0">
					<div class="col-lg-12 col-sm-12 col-xs-12">
						<button ng-click="updateSegment(currentSegment);" class="btn btn-blue" style="float: right;margin-left: 10px">Update Segment</button>
						<button style="float: right" class="btn btn-blue btn btn-palegreen" ng-click="getSegmentSubscriptionCount(currentSegment);" ng-if="currentSegment.definition.conditions.length > 0">Get Subscription Count</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

