<div class="page-content">
	<div class="page-header position-relative">
		<div class="header-title">
			<h1>
				<small>
					<i class="fa fa-angle-right"></i>
					User Management
				</small>
			</h1>
		</div>
	</div>
	<div class="page-body">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<div class="widget">
					<div class="widget-body" style="min-height: 500px;">
						<div class="alert alert-warning fade in alert-radius-bordered alert-shadowed" ng-if="users.length == 0">
							<button class="close" data-dismiss="alert">
							</button>
							<strong>NOTE:</strong> Your instance don't have any other users.
						</div>
						<div class="flip-scroll" ng-if="users.length > 0">
							<table class="table table-hover">
								<thead class="flip-content">
								<tr>
									<th>
										S.NO
									</th>
									<th>
										EMAIL
									</th>
									<th>
										CREATED ON
									</th>
									<th>
										DELETE USER
									</th>
								</tr>
								</thead>
								<tbody>
								<tr ng-repeat="user in users track by $index">
									<td>
										{{$index + 1}}
									</td>
									<td>
										{{user.username}}
									</td>
									<td>
										<format-date date="{{user.created_at}}"></format-date>
									</td>
									<td>
										<a ng-click="deleteUser(user);" class="btn btn-warning btn-xs black"><i class="fa fa-trash-o"></i> Delete</a>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>