<div class="row">

	<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" ng-repeat="notification in notifications track by $index">
		<div class="databox databox-xxlg databox-vertical databox-shadowed bg-white radius-bordered padding-5" style="height: 150px !important;">
			<div class="databox-bottom">
				<div class="databox-row row-12">
					<div class="databox-cell cell-7 padding-5">
						<h6 style="font-size: 11px" class="sky">Sent On: <format-date date="{{notification.created_at}}"></format-date></h6>
						<h4 style="font-size: 15px">{{notification.title}}</h4>
						<h6 style="font-size: 11px">{{notification.message}}</h6>
					</div>
					<div class="databox-cell cell-5 text-center no-padding-left padding-bottom-30">
						<div class="databox-row row-2 bordered-bottom bordered-ivory padding-10">
							<span class="badge badge-palegreen badge-empty pull-left margin-5"></span>
							<span class="databox-text darkgray pull-left no-margin hidden-xs">Delivered</span>
							<span class="databox-text darkgray pull-right no-margin uppercase">{{notification.receive_count}}</span>
						</div>

						<div class="databox-row row-2 bordered-bottom bordered-ivory padding-10">
							<span class="badge badge-azure badge-empty pull-left margin-5"></span>
							<span class="databox-text darkgray pull-left no-margin hidden-xs">Clicked</span>
							<span class="databox-text darkgray pull-right no-margin uppercase">{{notification.click_count}}</span>
						</div>

						<div class="databox-row row-2 bordered-bottom bordered-ivory padding-10">
							<span class="badge badge-orange badge-empty pull-left margin-5"></span>
							<span class="databox-text darkgray pull-left no-margin hidden-xs">Click Rate</span>
							<span class="databox-text darkgray pull-right no-margin uppercase">{{notification.click_rate}} %</span>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="row" ng-if="loadMore">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<button class="btn btn-block" ng-click="getNotifications();"><i class="fa fa-angle-down"></i>Load More</button>
	</div>
</div>