<div class="page-content">
	<div class="page-header position-relative">
		<div class="header-title">
			<h1>
				<small>
					<i class="fa fa-angle-right"></i>
					My Profile
				</small>
			</h1>
		</div>
	</div>
	<div class="page-body">
		<div class="row">






			<div class="col-lg-6 col-sm-6 col-xs-12">
				<div class="databox databox-xlg radius-bordered databox-shadowed" style="background: #fff">
					<div class="databox-right bordered-thick bordered-palegreen">
						<div class="databox-row bordered-bottom bordered-platinum padding-10">
							<div class="databox-cell no-padding">
								<span class="databox-title darkgray">{{user.username}}</span>
								<span class="databox-text darkgray">WORKSPACE: {{tenant.workspace.name}}</span>
								<span class="databox-text darkgray">API SECRET: {{apiSecret}}</span>
							</div>
						</div>
						<!--
						<div class="databox-row row-3 bordered-bottom bordered-platinum">
							<span class="databox-text darkgray padding-10">RETURNING USERS</span>
							<div class="databox-stat bg-yellow radius-bordered">
								<div class="stat-text">12 %</div>
								<i class="stat-icon fa fa-arrow-down"></i>
							</div>
						</div>-->
					</div>
				</div>
			</div>




		</div>
	</div>
</div>