<div class="row">

	<div class="col-lg-12 col-sm-12 col-xs-12">
		<div class="widget bordered-top">
			<div class="widget-body">
				<div class="collapse in">
					<form role="form">



						<div class="row">
							<div class="col-lg-6 col-sm-6 col-xs-12">
								<div class="form-title">Application Details</div>
								<div class="form-group"> <span class="input-icon icon-right">
											<label>Application Name</label>
												<input type="text" class="form-control input-sm" ng-model ="application.name" placeholder="My Application">
											</span> </div>



								<div class="form-group"> <span class="input-icon icon-right">
<label>Your Website</label>
											<div class="input-group">
												<div class="input-group-btn">
													<a class="btn btn-blue btn-sm">{{application.website.protocol}}</a>
													<a class="btn btn-blue btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-angle-down"></i></a>
													<ul class="dropdown-menu dropdown-blue">
														<li>
															<a ng-click="application.website.protocol = 'http'">Http</a>
														</li>
														<li>
															<a ng-click="application.website.protocol = 'https'">Https</a>
														</li>
													</ul>
												</div>


												<input type="text" class="form-control input-sm" ng-model="application.website.url" placeholder="example.com">
											</div>
											</span> </div>

								<div class="form-group"> <span class="input-icon icon-right">
											<label>Application Logo</label>
											<input type="text" class="form-control input-sm" ng-model="application.logo" placeholder="http://example.com/logo.png">
											</span> </div>


								<div class="form-group">
									<div class="input-group-sm">
										<label>Subdomain for your Application</label>
										<input ng-model="application.domain" type="text" class="form-control input-sm" placeholder="subdomain" disabled>
									</div>
								</div>


							</div>



							<div class="col-lg-6 col-sm-6 col-xs-12">
								<div class="form-title">Application Settings</div>




								<div class="form-group">
									<label for="exampleInputPassword1">Enable welcome notification</label>
									<div>
										<label>
											<input class="checkbox-slider toggle colored-blue yesno" type="checkbox" ng-model="application.welcome_notification.enabled">
											<span class="text">&nbsp;</span>
										</label>
									</div>

								</div>


								<div class="form-group">
									<label>Welcome Notification Title</label>
									<input ng-disabled="!application.welcome_notification.enabled" ng-model="application.welcome_notification.title" type="text" class="form-control input-sm" placeholder="Notification Title">
								</div>

								<div class="form-group">
									<label>Welcome Notification Message</label>
									<textarea ng-disabled="!application.welcome_notification.enabled" ng-model="application.welcome_notification.message" class="form-control input-sm" placeholder="Notification Message"></textarea>
								</div>

								<div class="form-group">
									<label>Welcome Notification Target URL</label>
									<textarea ng-disabled="!application.welcome_notification.enabled" ng-model="application.welcome_notification.url" class="form-control input-sm" placeholder="Target Url"></textarea>
								</div>


							</div>
						</div>








						<div class="form-title">Chrome Settings</div>

						<div class="form-group">
							<label>GCM SENDER ID</label>
							<input disabled ng-model="application.gcm_sender_id" type="text" class="form-control input-sm" placeholder="your google project id">
						</div>

						<div class="form-group">
							<label>GCM API KEY</label>
							<textarea disabled ng-model="application.gcm_api_key" class="form-control input-sm" placeholder="your google api key"></textarea>
						</div>


						<div class="form-group">
							<button style="float: right;margin-left: 10px" type="submit" class="btn btn-blue" ng-click="updateApplication();">Update Settings</button>
							<button style="float: right" class="btn btn-default" ng-click="resetSettings();">Reset Settings</button>
							<div style="clear: both"></div>
						</div>





					</form>
				</div>
			</div>
		</div>
	</div>


</div>