<div class="navbar">
	<div class="navbar-inner">
		<div class="navbar-container">
			<div class="navbar-header pull-left">
				<a class="navbar-brand" ui-sref="console" style="margin-top: 10px;">
					<small>
						{{app.name}}
					</small>
				</a>
			</div>
			<div class="sidebar-collapse" id="sidebar-collapse">
				<i class="collapse-icon fa fa-bars"></i>
			</div>




			<div class="navbar-header pull-right">
				<div class="navbar-account">
					<ul class="account-area">
						<li>
							<a class="login-area dropdown-toggle" data-toggle="dropdown">
								<section>
									<h2><span class="profile"><span><i class="fa fa-user"></i> &nbsp; {{user.username}} &nbsp; <i class="fa fa-angle-down"></i></span></span></h2>
								</section>
							</a>
							<ul class="dropdown-menu dropdown-palegreen">
								<li ng-if="user.role == 'owner'" ng-click="showInviteUserPopup();">
									<a style="margin-left: 10px">
										<i class="dropdown-icon glyphicon glyphicon-envelope"></i>
										Invite User
									</a>
								</li>
								<li>
									<a ng-click="logout();" style="margin-left: 10px">
										<i class="dropdown-icon glyphicon glyphicon-log-out"></i>
										Sign Out
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>






		</div>
	</div>
</div>
<ui-view></ui-view>







<div class="modal fade bs-example-modal-sm inviteUser" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="padding-right: 15px;">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">Invite user to your Instance<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> </div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12 col-sm-12 col-xs-12">
						<div class="widget flat radius-bordered" style="margin-top: -10px;">
							<div class="widget-body">
								<div id="registration-form" style="margin-top: -15px;">
									<form role="form">
										<div class="form-title">Email :</div>
										<div class="form-group"> <span class="input-icon icon-right">
												<input type="text" class="form-control input-sm" ng-model ="invite.email" placeholder="username@example.com">
											</span> </div>


										<button type="submit" class="btn btn-block btn-blue" ng-click="inviteUser();"><i class="fa fa-envelope"></i> Send Invite</button> </form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>