<div class="page-content">
	<!-- Page Breadcrumb -->
	<div class="page-breadcrumbs">
		<ul class="breadcrumb">
			<li>
				<a ui-sref="console.dashboard.applications()">Applications</a>
			</li>
			<li class="active">{{currentApplication.name}}</li>
		</ul>
	</div>
	<div class="page-body">





		<div class="row">
			<div class="col-lg-12 col-sm-12 col-xs-12">
				<div class="tabbable">
					<ul class="nav nav-tabs" id="myTab5">
						<li ui-sref-active="active">
							<a ui-sref="console.dashboard.applications.app.dashboard">
								<i class="fa fa-dashboard"></i> Dashboard
							</a>
						</li>
						<li ui-sref-active="active">
							<a ui-sref="console.dashboard.applications.app.pushnotification">
								<i class="fa fa-bell"></i> Push Notification
							</a>
						</li>
						<li ui-sref-active="active">
							<a ui-sref="console.dashboard.applications.app.segmentation">
								<i class="fa fa-filter"></i> Segmentation
							</a>
						</li>
						<li ui-sref-active="active">
							<a ui-sref="console.dashboard.applications.app.clientcode">
								<i class="fa fa-code"></i> Client Code
							</a>
						</li>
						<li ui-sref-active="active">
							<a ui-sref="console.dashboard.applications.app.settings">
								<i class="fa fa-gear"></i> Settings
							</a>
						</li>
						<li ui-sref-active="active">
							<a ui-sref="console.dashboard.applications.app.notifications">
								<i class="fa fa-bullhorn"></i> Notifications
							</a>
						</li>
					</ul>

					<div class="tab-content" style="min-height: 500px">
						<ui-view></ui-view>
					</div>
				</div>
			</div>

		</div>






	</div>
</div>