<div class="page-content">
	<div class="page-header position-relative">
		<div class="header-title"> <button ng-click="openCreateAppModal();" class="btn btn-primary btn-xs" style="margin-top: 9px;margin-left: 8px;"><i class="fa fa-plus-circle"></i> Create Application</button> </div>
	</div>
	<div class="page-body">
		<div class="row" ng-if="applications.length == 0">
			<div class="col-lg-12 col-sm-12 col-xs-12">
				<div class="well bordered-top bordered-palegreen">
					<h5>Welcome to Pushgap</h5>
					<ul>
						<li>You don't have any applications configured . </li>
						<li>An Application is an entity that can be associated to a website name (i.e: http://example.com) on which you want your users to subscribe and receive push notifications.</li>
						<li>It is important to note that once if an application is associated with a website then it cannot be changed ever again . so please make sure that you enter the correct website name.</li>
						<li>you can create multiple applications on your instance.</li>
						<li>Client code is generated for each application . that is a script that should be inserted on all your webpages.</li>
						<li>You can find total number of chrome and firefox subscriptions under application dashboard.</li>
						<li>Once a notification is sent you can see the stats of that notification. how many subcribers received the notification and how many of them actually clicked it.</li>
						<li>You can create an application by clicking on "Create App" button above.</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row" ng-if="applications.length > 0">
			<div class="col-lg-4 col-sm-6 col-xs-12" ng-repeat="application in applications track by $index" ng-style="$index >2 && {'margin-top': '20px'}">
				<div class="databox databox-xlg databox-halved databox-shadowed databox-vertical no-margin-bottom" style="position: relative; height: 150px">
					<div class="databox-top bg-white padding-10">
						<div class="btn-group appoptions"> <i class="fa fa-align-justify dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></i>
							<ul class="dropdown-menu dropdown-blue" style="right: 0; left: auto;">
								<li> <a ui-sref="console.dashboard.applications.app({'appId': application._id})"><i class="fa fa-dashboard"></i> Dashboard</a> </li>
								<li class="divider"></li>
								<li> <a ui-sref="console.dashboard.applications.app.pushnotification({'appId': application._id})"><i class="fa fa-bell"></i> Push Notification</a> </li>
								<li class="divider"></li>
								<li> <a ui-sref="console.dashboard.applications.app.segmentation({'appId': application._id})"><i class="fa fa-filter"></i> Segmentation</a> </li>
								<li class="divider"></li>
								<li> <a ui-sref="console.dashboard.applications.app.clientcode({'appId': application._id})"><i class="fa fa-code"></i> Client Code</a> </li>
								<li class="divider"></li>
								<li> <a ui-sref="console.dashboard.applications.app.settings({'appId': application._id})"><i class="fa fa-gear"></i> Settings</a> </li>
								<li class="divider"></li>
								<li> <a ui-sref="console.dashboard.applications.app.notifications({'appId': application._id})"><i class="fa fa-bullhorn"></i> Notifications</a> </li>
								<li class="divider"></li>
								<li ng-if="user.role == 'owner'" ng-click="deleteApplication(application);"> <a><i class="fa fa-trash"></i> Delete Application</a> </li>
							</ul>
						</div>
						<div class="col-lg-4 col-sm-4 col-xs-4"> <img ng-if="application.logo" ng-src="{{application.logo}}" style="width:75px; height:75px;border-radius: 20%;" class="bordered-3"> <img ng-if="!application.logo" src="resources/styles/img/appicon.png" style="width:75px; height:75px;border-radius: 20%;" class="bordered-3"> </div>
						<div class="col-lg-8 col-sm-8 col-xs-8 text-align-left padding-10"> <span class="databox-header carbon no-margin">{{application.name}}</span> <span class="databox-text lightcarbon no-margin"> {{application.website.protocol}}://{{application.website.url}}</span> </div>
					</div>
					<div class="databox-bottom bg-white no-padding" style="height: 50px;">
						<div class="databox-row row-12">
							<div class="databox-row row-6 padding-10"> <button class="btn btn-palegreen btn-sm pull-right" ui-sref="console.dashboard.applications.app({appId: application._id})">Dashboard <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></button> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade bs-example-modal-sm newApp" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="padding-right: 15px;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header"> Create New Application<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> </div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12 col-sm-12 col-xs-12">
						<div class="widget flat radius-bordered" style="margin-top: -10px;">
							<div class="widget-body">
								<div style="margin-top: -15px;">
									<form role="form">
										<div class="row">
											<div class="col-lg-6 col-sm-6 col-xs-12">
												<div class="form-title">Application Details</div>
												<div class="form-group"> <span class="input-icon icon-right">
											<label>Application Name</label>
												<input type="text" class="form-control input-sm" ng-model ="newApp.name" placeholder="My Application">
											</span> </div>



												<div class="form-group"> <span class="input-icon icon-right">
<label>Your Website</label>
											<div class="input-group">
												<div class="input-group-btn">
													<a class="btn btn-blue btn-sm">{{newApp.website.protocol}}</a>
													<a class="btn btn-blue btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-angle-down"></i></a>
													<ul class="dropdown-menu dropdown-blue">
														<li>
															<a ng-click="newApp.website.protocol = 'http'">Http</a>
														</li>
														<li>
															<a ng-click="newApp.website.protocol = 'https'">Https</a>
														</li>
													</ul>
												</div>


												<input type="text" class="form-control input-sm" ng-model="newApp.website.url" placeholder="example.com">
											</div>
											</span> </div>

												<div class="form-group"> <span class="input-icon icon-right">
											<label>Application Logo</label>
											<input type="text" class="form-control input-sm" ng-model="newApp.logo" placeholder="http://example.com/logo.png">
											</span> </div>

												<div class="form-group">
													<div class="input-group-sm">
														<label>Subdomain for your Application</label>
														<input ng-model="newApp.domain" type="text" class="form-control input-sm" placeholder="subdomain">
													</div>
												</div>


											</div>


											<div class="col-lg-6 col-sm-6 col-xs-12">
												<div class="form-title">Application Settings</div>




												<div class="form-group">
													<label for="exampleInputPassword1">Enable welcome notification</label>
													<div>
														<label>
															<input class="checkbox-slider toggle colored-blue yesno" type="checkbox" ng-model="newApp.welcome_notification.enabled">
															<span class="text">&nbsp;</span>
														</label>
													</div>

												</div>




												<div class="form-group">
													<label>Welcome Notification Title</label>
													<input ng-disabled="!newApp.welcome_notification.enabled" ng-model="newApp.welcome_notification.title" type="text" class="form-control input-sm" placeholder="Notification Title">
												</div>

												<div class="form-group">
													<label>Welcome Notification Message</label>
													<textarea ng-disabled="!newApp.welcome_notification.enabled" ng-model="newApp.welcome_notification.message" class="form-control input-sm" placeholder="Notification Message"></textarea>
												</div>

												<div class="form-group">
													<label>Welcome Notification Target URL</label>
													<textarea ng-disabled="!newApp.welcome_notification.enabled" ng-model="newApp.welcome_notification.url" class="form-control input-sm" placeholder="Target Url"></textarea>
												</div>


											</div>


										</div>

										<div class="form-title">Chrome Settings</div>

										<div class="form-group">
											<label>GCM SENDER ID</label>
											<input ng-model="newApp.gcm_sender_id" type="text" class="form-control input-sm" placeholder="your google project id">
										</div>

										<div class="form-group">
											<label>GCM API KEY</label>
											<textarea ng-model="newApp.gcm_api_key" class="form-control input-sm" placeholder="your google api key"></textarea>
										</div>

										<div class="form-group">
											<button style="float: right;margin-left: 10px" type="submit" class="btn btn-blue" ng-click="createApplication();">Create Application</button>
											<button style="float: right" class="btn btn-default" data-dismiss="modal">Cancel</button>
											<div style="clear: both"></div>
										</div>


										 </form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>