<div class="login-container animated fadeInDown">
    <div class="login_custom">


        <div class="widget">
            <div class="widget-header">
                <span class="widget-caption">{{tenant.workspace.name}} - invite</span><span style="float: right;
    font-size: 10px;
    color: #aaa;
    margin-top: 8px;
    margin-right: 10px;">Powered by {{app.name}}</span>
            </div>
            <div class="widget-body bordered-top bordered-palegreen">
                <div class="collapse in">
                    <form role="form">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email:</label>
							<span class="input-icon icon-right">
								<input type="text" class="form-control" ng-model="invite.email" disabled style="background: #f2f2f2">
								<i class="fa fa-user success circular"></i>
							</span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Password:</label>
							<span class="input-icon icon-right">
								<input placeholder="*********************" type="password" class="form-control" ng-model="invite.password">
								<i class="fa fa-key success circular"></i>
							</span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Confirm Password:</label>
							<span class="input-icon icon-right">
								<input placeholder="*********************" type="password" class="form-control" ng-model="invite.confirmPassword">
								<i class="fa fa-key success circular"></i>
							</span>
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block" value="Accept Invite" ng-click="acceptInvite();">
                        </div>
                        <div class="form-group">
                            <span style="font-size: 10px;color: #AAAAAA;">NOTE: we strongly recommend to use the latest version of Chrome/Firefox for better experience.</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>