<div class="login-container animated fadeInDown">
	<div class="login_custom">


		<div class="widget">
			<div class="widget-header">
				<span class="widget-caption">{{tenant.workspace.name}}</span><span style="float: right;
    font-size: 10px;
    color: #aaa;
    margin-top: 8px;
    margin-right: 10px;">Powered by {{app.name}}</span>
			</div>
			<div class="widget-body bordered-top bordered-palegreen">
				<div class="collapse in">
					<form role="form">
						<div class="form-group">
							<label for="exampleInputEmail1">Email:</label>
							<span class="input-icon icon-right">
								<input placeholder="username@example.com" type="text" class="form-control" ng-model="user.username">
								<i class="fa fa-user success circular"></i>
							</span>
						</div>
						<div class="form-group">
							<label for="exampleInputEmail1">Password:</label>
							<span class="input-icon icon-right">
								<input placeholder="*********************" type="password" class="form-control" ng-model="user.password">
								<i class="fa fa-key success circular"></i>
							</span>
						</div>

						<div class="form-group forgotpassword">
							<span style="font-size: 10px;color: #AAAAAA;"><a ui-sref="forgotpassword">forgot password ?</a></span>
						</div>

						<div class="form-group">
							<input type="submit" class="btn btn-primary btn-block" value="Login" ng-click="login(user.username, user.password);">
						</div>
						<div class="form-group">
							<span style="font-size: 10px;color: #AAAAAA;">NOTE: we strongly recommend to use the latest version of Chrome/Firefox for better experience.</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>