
<div class="login-container animated fadeInDown">
	<div class="signup_custom">






		<div class="widget" ng-if="activationSuccessful">
			<div class="widget-header">
				<span class="widget-caption"> <i class="fa fa-check-circle palegreen" style="font-size: 15px;"></i> &nbsp; Email Confirmed successfully.</span>
			</div>
		</div>












	</div>
</div>