<div class="login-container animated fadeInDown">
	<div class="signup_custom">






		<div class="widget">
			<div class="widget-header">
				<span class="widget-caption">{{app.name}}</span>
			</div>
			<div class="widget-body bordered-top bordered-palegreen">
				<div class="collapse in">
					<form role="form">
						<div class="form-group">
							<label>Account Name:</label>
							<span class="input-icon icon-right">
								<input placeholder="Account Name" type="text" class="form-control" ng-model="workspace.name">
								<i class="fa fa-institution success circular"></i>
							</span>
							<span class="sky" style="font-size: 11px;word-wrap: break-word;"><span style="color: #333 !important;">Instance:</span> https://{{workspace.name}}.pushgap.com</span>
						</div>
						<div class="form-group">
							<label>Email Id:</label>
							<span class="input-icon icon-right">
								<input placeholder="username@domain.com" type="text" class="form-control" ng-model="workspace.username">
								<i class="fa fa-user success circular"></i>
							</span>
						</div>
						<div class="form-group">
							<label>Password:</label>
							<span class="input-icon icon-right">
								<input placeholder="*********************" type="password" class="form-control" ng-model="workspace.password">
								<i class="fa fa-key success circular"></i>
							</span>
						</div>
						<div class="form-group">
							<label>Confirm Password:</label>
							<span class="input-icon icon-right">
								<input placeholder="*********************" type="password" class="form-control" ng-model="workspace.confirmPassword">
								<i class="fa fa-key success circular"></i>
							</span>
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-primary btn-block" value="SignUp" ng-click="signUp();">
						</div>
						<div class="form-group">
							<span style="font-size: 10px;color: #AAAAAA;">NOTE: we strongly recommend to use the latest version of Chrome/Firefox for better experience.</span>
						</div>
					</form>
				</div>
			</div>
		</div>












	</div>
</div>