<!DOCTYPE html>
<html>
<head>
	<title>Powered by PushGap</title>
	<link href="https://fonts.googleapis.com/earlyaccess/droidarabickufi.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300"
		  rel="stylesheet" type="text/css">
	<script>
		var application = {};
		application.workspaceId = <%- JSON.stringify(workspaceId) %>;
		application.id = <%- JSON.stringify(applicationId) %>;
		var protocol = <%- JSON.stringify(protocol) %>;
		var domain = <%- JSON.stringify(domain) %>;
		var host = <%- JSON.stringify(host) %>;
		var logo = <%- JSON.stringify(logo) %>;
		var website = <%- JSON.stringify(website) %>;

		var src = protocol + '://sdk.' + domain + '/pushgap_sdk.js?workspace_id=' + application.workspaceId + '&application_id=' + application.id + '&host=' + host;
		JSElement = document.createElement('script');
		JSElement.src = src;
		JSElement.async = true;
		document.getElementsByTagName('head')[0].appendChild(JSElement);
		window.onload = function(e) {
			var websiteElement = document.querySelector('#website');
			websiteElement.innerHTML = website;
			var logoElement = document.querySelector('#logo');
			logoElement.setAttribute("src", logo);
		};

	</script>

</head>
<body style="background: #f2f2f2">
<div style="margin-top: 150px;">
	<div id="website" style="font-size: 20px;text-align:center;font-family: 'Open Sans','Segoe UI';"></div>
	<div id="text" style="font-size: 12px;text-align:center;color: #333;font-family: 'Open Sans','Segoe UI';">Would like to send you notifications.</div>
</div>
<div style="width: 310px;height: 85px;margin: 10px auto;text-align: center;box-shadow: 0 0 5px #333">
	<div style="width: 75px;height: 75px;float: left;padding: 5px;border-right: 1px solid #CCCCCC;">
		<img id="logo" style="width: 75px;height: 75px;">
	</div>
	<div style="float: left;padding: 5px;">
		<div style="font-size: 15px;font-family: 'Open Sans','Segoe UI';margin-left: -15px;">Sample Notification</div>
		<div style="font-size: 11px;font-family: 'Open Sans','Segoe UI';margin-top: 10px;margin-left: 8px;">Here is the notification content.</div>
	</div>
</div>
<div style="margin-top: 10px;">
	<div style="font-size: 10px;text-align:center;color: #333;font-family: 'Open Sans','Segoe UI';">Click on "Allow" to subscribe for the notifications. you can unsubscribe any time.</div>
</div>
</body>
</html>